[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-filter = "==2.4.0"
django-rest-knox = "==4.1.0"
django-seed = "==0.2.2"
djangorestframework = "==3.12.1"
Django = "==3.1.5"
Faker = "==4.4.0"
pillow = "*"
awsebcli = "*"
django-storages = "*"
boto3 = "*"
django-s3direct = "*"

[dev-packages]

[requires]
python_version = "3.8"
